[submodule "submodules/jquery-checkview"]
	path = submodules/jquery-checkview
	url = https://github.com/benignware/jquery-checkview
[submodule "submodules/jquery-responsive-text"]
	path = submodules/jquery-responsive-text
	url = https://github.com/benignware/jquery-responsive-text
